/* Start Trip Page Style */
.mainImg {
  width: 100%;
  height: 350px !important;
  object-fit: cover;
}

@media (max-width: 576px) {
  .mainImg {
    display: none;
  }
  .childImg img {
    width: 100% !important;
    margin: auto;
  }
}
/* End Trip Page Style */
